[2017-05-10 20:22] SaeedAkhter-MSFT opened #1 "[Annoncement-issue] state parameter mismatch"
We have seen some instances where the "state" OpenID Connect parameter passed to AAD B2C does not match the "state" parameter when AAD B2C returns an access token.  We are investigating and will update this sample if necessary.

[2017-05-10 20:25] SaeedAkhter-MSFT opened #2 "Sample might not work with MSA or Twitter"
This sample works with most social providers but there is a possible issue with MSA and Twitter that we are investigating.  We will update this sample if necessary.

[2017-05-11 15:48] jmprieur commented on #2
Closing as duplicate as the issue is mentioned and explained in the README.md

[2017-05-11 15:48] #2 closed

[2017-07-03 19:54] spottedmahn opened #3 "ASP.Net Core WebApi Sample"
I see there is a sample for [Node.js](https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi).  Is there one for ASP.Net Core?

[2017-07-03 20:11] parakhj commented on #3
For the server side? Does this help - https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapi?

[2017-07-03 20:54] #3 closed

[2017-07-03 22:54] thdotnet opened #4 "This application does not have sufficient permissions against this web resource"
I've downloaded the sample and replaced with my settings. After that, in the web page I'm getting:

Refused to display .... in a frame because it set 'X-Frame-Options' to 'deny'.

If I try to open the url, I'm getting:

This application does not have sufficient permissions against this web resource to perform the operation.

Any tips?

[2017-07-06 01:45] parakhj commented on #4
Azure AD B2C does not support authentication in IFrames. For the other issue, see https://github.com/Azure-Samples/active-directory-b2c-javascript-hellojs-singlepageapp/issues/16

[2017-07-06 02:31] thdotnet commented on #4
I was only trying to run the sample. The acquireToken process is the problem.

[2017-07-09 16:05] spottedmahn commented on #4
Hi @parakhj I'm having the same problem.  Can you please re-open this?

I first started with running the demo **w/o** any changes and it **worked fine**.

- I then customized the sample for my tenant, scope, etc.
- I downloaded the [web api](https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi) sample app, customized it for my tenant and ran it locally

![image](https://u

[2017-07-09 16:12] spottedmahn commented on #4
I found this [similar issue](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/94) but I think it is for adal.js, right?

[2017-07-09 20:52] thdotnet commented on #4
Hi @spottedmahn, you're right. I had the same issue. The problem happens when you try to call acquireTokenSilent after logged in.

[2017-07-10 17:15] spottedmahn commented on #4
@jmprieur any ideas?  thanks!

[2017-07-10 17:51] SaeedAkhter-MSFT commented on #1
This was fixed in May by deploying a server side fix - specific characters (semicolons) were causing the issue.

[2017-07-10 17:51] #1 closed

[2017-07-10 19:23] spottedmahn commented on #4
The last webrequest in Chrome was the request to authorize.  It fails when pointed at my tenant.

![image](https://user-images.githubusercontent.com/14079228/28035494-cf468390-6582-11e7-9ef6-6b194a788e45.png)

I pulled the following from **Fiddler**

### First part of the response ###
<html lang="en-US"><head><link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script data-container="true" nonce="x

[2017-07-10 20:00] spottedmahn commented on #4
# Permissions Review #

From what I see, the web app, has permissions for the web api scope of demo.read

### Web App Properties ###
![image](https://user-images.githubusercontent.com/14079228/28037026-0f16ad2e-6588-11e7-98c2-8b020acd0c1c.png)

### Web App API Access ###
![image](https://user-images.githubusercontent.com/14079228/28037040-1be2ef72-6588-11e7-8d9b-0b7d49f4da12.png)

### Web API Prop

[2017-07-10 20:20] spottedmahn commented on #4
I tried the 'run policy settings' and it worked.   I noticed a **difference** in the **scope**.  Through msal.js it has 'demo.read openid profile' vs 'demo.read'.

I see an openid scope but not a profile scope.  Does that have anything to do with my problem?

![image](https://user-images.githubusercontent.com/14079228/28037945-2dd47f2c-658b-11e7-9ceb-8aba40bb3a99.png)

### Run Policy Settings ###

[2017-07-10 23:09] parakhj commented on #4
@spottedmahn try adding id_token to the response_type. If you include openid in the scope, then you are requesting an id_token as well, and that has to match the response_type (token represents access token, id_token represents an id token)

For more reference, check out this post: https://github.com/Azure-Samples/active-directory-b2c-javascript-hellojs-singlepageapp/issues/16

[2017-07-10 23:19] spottedmahn commented on #4
@parakhj I reviewed the blog post about setting the permissions.  I think I have them as described in the post.  I've also included them in the screenshots above.  Do you see anything that is not configured properly?

This is the essential the same info on docs.microsoft.com.

Thanks for your assistance here!

[2017-07-10 23:22] parakhj commented on #4
Did you add id_token to the response type? (I edited my earlier post)

[2017-07-10 23:29] spottedmahn commented on #4
I see your edit, thanks!

I'm not sure how I would do that.  Isn't that something that msal.js is doing for me?

Here's the query string for reference for what is getting sent:

![image](https://user-images.githubusercontent.com/14079228/28044550-04291bc2-65a6-11e7-8177-85427dbd09ba.png)

[2017-07-10 23:30] spottedmahn commented on #4
and comparing that to the demo that works, response_type is 'token'

![image](https://user-images.githubusercontent.com/14079228/28044571-29b3923c-65a6-11e7-8997-fdacfb015bda.png)

[2017-07-11 17:43] parakhj commented on #4
Given your last two screenshots, we can rule out MSAL and the app as the problem since the sample works with the default configuration, i would focus your debugging on the set up in the portal.

Could you send a screenshot of the API app registration, its published scopes, your native app registration, and its granted scopes?

[2017-07-12 13:28] spottedmahn commented on #4
@parakhj thanks for the reply.  Here's my setup:

## Web API Properties/Registration ##
![image](https://user-images.githubusercontent.com/14079228/28119809-19f91f3a-66e4-11e7-8ba3-f4284931cf0b.png)

## Web API Published Scopes ##
![image](https://user-images.githubusercontent.com/14079228/28119817-2211a052-66e4-11e7-8845-58b26717ef29.png)

## Web App Properties/Registration ##
![image](https://us

[2017-07-12 20:04] parakhj commented on #4
Ah! You should be using the scope value in your request, not the scope name

[2017-07-12 20:10] spottedmahn commented on #4
That was it, thanks Parakh!

![image](https://user-images.githubusercontent.com/14079228/28137809-916cc430-671c-11e7-8708-4d1b8866b2a3.png)

[2017-07-12 20:14] SaeedAkhter-MSFT commented on #4
@thdotnet can you confirm whether you are using the scope value? (using the scope name will not work)  If you are still having an issue I could schedule a short phone call to see if I can help unblock you.

[2017-07-12 22:19] thdotnet commented on #4
I'll try. Just to remind, I was able to authenticate users. My problem happened when I was trying to acquire the token using acquireTokenSilent method.

[2017-07-12 23:39] SaeedAkhter-MSFT commented on #4
Ok, so might be a slightly different problem, but from your earlier post it looks like you are getting the same error: "AADB2C90205: This application does not have sufficient permissions against this web resource to perform the operation"

Could you post screenshots of the API app registration, its published scopes, your native app registration, and its granted scopes?  (just like the post from sp

[2017-07-13 00:01] thdotnet commented on #4
Sure. I'm not working on that task anymore, but I'll do some tests on weekend and update in here.

[2017-08-09 08:01] rolandoldengarm opened #6 "Edit Profile policy?"
Great example! In the [documentation](https://azure.microsoft.com/en-gb/resources/samples/active-directory-b2c-javascript-msal-singlepageapp/) it's mentioned that edit profile policies are used, but I can't find them? That would be great to demo as well.

[2017-08-16 08:19] sarahshul opened #7 "Using state in msal"
How do I pass the state parameter in the example? I saw there was an issue about the state, so i guess it is possible to use state in the example. But, I can't figure out how to use it and how to retrieve it after token is returned.

[2017-08-16 08:20] jmprieur commented on #7
Hi @sarahshul : The state (of the state machine) is purely internal to the library . you should not interact with it.

[2017-08-16 08:35] sarahshul commented on #7
Hi,
I am talking about the state like mentioned in the issue: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/1

this is the one you are talking about?

I saw that Azure allows to send state with custom value:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc

If it is not usable - can you recommend about a w

[2017-08-16 20:45] sarahshul opened #8 "Open register window"
Hi,

Is there a way to open directly the Create New Account window?

I have a case where I know it is a new account, and I dont want to allow user to do login, I also dont want to show him the login window and force him to press the create new account link.

Thank you.

[2017-08-17 20:12] parakhj commented on #8
You could set up and call a sign up policy for that particular case

[2017-08-21 07:13] DibranMulder opened #9 "Forgot password policy"
When using a combined signup - signin policy in Azure B2C, users have to handle the forgot password scenario themselves. Please take a look at the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-policies).

I managed to redirect the page to the forgot password policy when that error with error_description AADB2C90118 occurs. However when t

[2017-08-21 22:52] parakhj commented on #9
We are working to update our samples, but taking a quick stab on one way you can do this is:
in applicationConfig variable, add `authorityPR` property (PR = Password Reset) with the same value as authority, but replacing the policy at the end of the line with a password reset policy. Then adding the following line:

`
var clientApplicationPR = new Msal.UserAgentApplication(applicationConfig.client

[2017-08-22 11:47] DibranMulder commented on #9
How is this supposed to work? I want both login as password reset functionality available. Should I create two UserAgentApplications with both their own authority? This is my workflow:

1. User heads to Azure B2C page with redirectLogin.
[code]
2. User clicks forgot password button
3. Azure B2C redirects back to my application with an error and error_description containing AADB2C90118.
[code]
4. I

[2017-09-04 08:44] rahulbisht225 commented on #9
@DibranMulder  Have you got any solution for this issue. I am also facing the same issue.I  thought of logging out once i catch this error and then login again.

Please help me i am stuck at this.

Thanks

[2017-09-04 12:58] DibranMulder commented on #9
@rahulbisht225 I'm also stuck at this... Seems like its not implemented in the msal library, haven't found any other lib that can take care of this either. At msal they closed my issue stating its not something they are going to implement right now.
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/111

The workaround I currently take is logging out when the acquireTokenSil

[2017-09-04 18:03] jmprieur commented on #9
@DibranMulder : we wrote we are going to consider it (not yet implement)
BTW, don't you want to do acquireTokenRedirect when acquireTokenSilent fails?

[2017-09-04 20:38] DibranMulder commented on #9
@jmprieur Thanks for the hint, I'll check the behavior.

[2017-09-05 06:12] uma075 opened #10 "this.app.loginRedirect not working properly"
I need page instead of pop up so I converted loginPopup to loginRedirect but it is not working.
Actually I think, on redirect it is loosing its state and redirecting to the page as a new instance.
can you please provide some example for loginRedirect?

[2017-09-05 15:06] jmprieur commented on #10
I suggest you have a look at https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginRedirect.html to understand how to use loginRedirect.

[2017-09-18 10:11] imchaitanya9 commented on #10
I tried it. and I am using B2C instead of Graph, but not able to generate access Token.

[2017-09-18 21:09] parakhj commented on #10
Check out [this article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens) if you're having difficulties obtaining an access token

[2017-09-19 17:56] mikelunn commented on #9
@parakhj Is there a timeline of when these samples may be updated. I really would like to use Azure B2C for a new large scale enterprise application. I have the forgot password functionality working. However, the user experience is not ideal.

[2017-09-21 15:00] Chakravarti-Baratam commented on #9
@DibranMulder , did you get it working? I am also facing the same issue.

[2017-09-21 18:26] DibranMulder commented on #9
@Chakravarti-Baratam Not yet.. I still take the workaround below, when the next release of msal is there ill try to acquireTokenRedirect when acquireTokenSilent fails. Hopefully I can find some workflow to login the user when he changes his password.

[2017-09-22 10:44] Chakravarti-Baratam commented on #9
@DibranMulder , could you share your piece of code? Where are you calling this function redirectIfForgotPassword'? Is it in your redirect callback function?

My code looks like below:

window.onload = function () {
  window.clientApplication = new Msal.UserAgentApplication(MSAL_CLIENTID, AUTHORITY,
  authCallback, {cacheLocation: 'localStorage', redirectUri: MSAL_REDIRECTURI});
  var user = window

[2017-09-24 02:37] mikelunn commented on #9
@Chakravarti-Baratam You'll have to handle the forgot password redirect in the authCallback function and check if the errorDesciption string contains the error code.
`
if (errorDesc.indexOf('AADB2C90118') > -1)
{redirect();}`

[2017-09-24 03:10] Chakravarti-Baratam commented on #9
@mikelunn , I am getting null value for UserAgentApplication object in authCallback function. So unable to redirect from authCallback function. Could you share your snippet of code, please.

[2017-09-26 07:54] jcarloslr10 commented on #9
@Chakravarti-Baratam I got it to work with this code for the UserAgentApplication object

[code]
and

[code]
for login and redirect methods. This will allow you to change the policy without getting null value for UserAgentApplication object. I'm not found any better solution. @parakhj when will you have the right examples?

Thanks!!

[2017-10-13 12:56] Chakravarti-Baratam commented on #9
@parakhj , could you please update the sample for this scenario?

[2017-10-21 04:01] huizarmx commented on #4
Hi @SaeedAkhter-MSFT

Today I experienced the same issue and I have double checked my configuration in the portal and everything seems to be correct.

I'm just running the sample app with the customization of the parameters

![image](https://user-images.githubusercontent.com/10178745/31847871-ecdac3d2-b5e9-11e7-8171-9636fe65feb3.png)

After I click login a pop up appears, I can login correctly but

[2017-10-21 04:21] huizarmx commented on #4
Hello again @SaeedAkhter-MSFT

I'm sorry, just after I reviewed my post asking for help I noticed that given that my UI in the portal is in spanish (I'm in Mexico) the columns in the table of the published scopes of the API are inverted and really the translation is bad, it should read "Valor del ámbito" instead of "Ámbito" and "Nombre del Ámbito" instead of "Descripción". Those labels in spanish

[2017-11-05 09:10] HoussemDellai opened #12 "HTTP Error 400. The size of the request headers is too long."
When I click the login button: I get : HTTP Error 400. The size of the request headers is too long.
Here's the url:
https://login.microsoftonline.com/te/fabrikamb2c.onmicrosoft.com/b2c_1_susi/oauth2/v2.0/authorize?response_type=id_token&scope=https%3A%2F%2Ffabrikamb2c.onmicrosoft.com%2Fdemoapi%2Fdemo.read%20openid%20profile&client_id=e760cab2-b9a1-4c0d-86fb-ff7084abd902&redirect_uri=http%3A%2F%2Fl

[2017-11-08 01:14] bahram-zarrin commented on #10
Hi, do you have any example how I can login with B2C within a Vue.js app?

[2017-11-17 21:36] kenturley commented on #4
I got the same error "application does not have sufficient permissions against this web resource." Mine was a simple mistake. I missed a detail in Step 5 of the tutorial for setting b2cScopes in the SPA's index.html. I needed to replace "demoapi" with "hello."

![demoapp](https://user-images.githubusercontent.com/1234883/32969888-f76072e6-cba3-11e7-8989-6d5f09d31099.jpg)

![demoapp1](https://user-

[2017-11-24 20:28] pvrao80 commented on #10
I tried to use this code, it worked well on the local host. But when i moved the app and web API to azurewebsites.net, the login button opens another similar HTML popup window page, when the login button in the second window is clicked, the Azure AD B2C authentication opens - on providing the right password, it returns the last picture below.

Home page opens this page --> Correct behaviour
![imag

[2017-11-24 21:03] pvrao80 commented on #10
Update - I could force redirect http to https by adding a Web.config file in the root using Kudu, refer following link. Could you add to the web.config to Github files ?
https://www.ssl2buy.com/wiki/http-to-https-redirect-using-htaccess-or-web-config

[2017-11-24 21:36] pvrao80 opened #13 "Eliminate Popup"
On click of login, this code opens the AD B2C authentication as a pop up. Could you guide me to change this within the same window rather than a popup ?

[2017-11-27 22:39] spottedmahn commented on #9
Hello @mikelunn - what does your `redirect()` function look like?

[2017-11-27 23:06] spottedmahn commented on #9
Hello @jcarloslr10 - thanks for the code!  Feels very hacky... I sure hope they respond/address this.

It seems like msal.js has not taken into consideration the concept of policies in B2C and that it assumes only one policy.

[2017-11-28 15:18] mikelunn commented on #9
@spottedmahn Here it is. Changed name to onTokenCallback. But you essentially need to re-instantiate the UserAgentApplication object and pass in your password reset policy.

[code]

Here is my complete class which kind of wraps msal.js. Keep in mind this is for angular/typescript

[code]

[2017-12-03 20:13] unoti commented on #4
I had the same problem "application does not have sufficient permissions against this web resource", Here is how I fixed it:

Go into the tenant, select Azure AD B2C on the left side of the portal.  On the left side click API Access.

![image](https://user-images.githubusercontent.com/5296180/33529238-c6efde54-d822-11e7-8465-e9d4103f9538.png)

Click + Add.

Select the API, from the first dropdown.

[2017-12-14 23:37] DadvDadv commented on #7
Please, Add a entry point to create a custom state parameter.

Look at [http://www.thread-safe.com/2014/05/the-correct-use-of-state-parameter-in.html](http://www.thread-safe.com/2014/05/the-correct-use-of-state-parameter-in.html)
and at [https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-07#page-7](https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-07#page-7)
for the

[2017-12-29 08:48] maslunde commented on #4
I also had the same problem. Spent many hours to find out. I find it very frustrating to work with Azure B2C as a developer due to lack of good documentation, updated documentation and well proved examples. When something break you almost have to be the creator of B2C to find out. Hopefully it will be a much better product in the future. Not to forget the naming convention Microsoft have done. It'

[2018-01-20 16:49] chesterhartin opened #14 "Issues with MSAL.js using IE11 in corporate environments (Enable Protected Mode)"
Hello! I am having an issue with the sample (as is) in a corporate environment and can be simulated at home via checking the Enable Protected mode box (which I am unable to do at work due to domain policies (currently showing home setup)

![1](https://user-images.githubusercontent.com/1890420/35185707-234d238e-fdce-11e7-8026-3317939a6b60.PNG)

Running the bat file works great, I'm able to see the

[2018-02-17 01:43] gavinbarron commented on #13
Try the loginRedirect insteam of the loginPopup method (line 53 of index.html)

[2018-02-17 01:46] gavinbarron commented on #12
I guess this is happening in Chrome?
I get this all the time with the AAD login sites and not just the MSAL library. The 'fix' is to delete all the cookies for login.microsoftonline.com based on my experience.

[2018-02-26 16:22] pconnell99 opened #15 "Authority string is being incorrectly appended to"
When I am trying to set an authority string the call to the server is corrupted.

Example:-
[code]
The authority is readable in a browser and returns a policy.  However, when I run the application so:-

[code]
The popup closes and the browser reports a 400 (Bad Request) for the URL `https://login.microsoftonline.com/<mytenant>.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=b2c_1_gplus/v2.

[2018-02-26 16:54] #15 closed

[2018-03-02 02:28] paulpce commented on #7
If I'm reading this right, this is a fairly important issue.

Am I right in reading that there is _no way to modify the state parameter_, in the request to the Azure AD authorize endpoint, as @DadvDadv has already quoted, to "encode information about the user's state in the app before the authentication request occurred, such as the page or view they were on"?

If there is (and there definitely sh

[2018-04-12 18:29] anirudhholla commented on #14
Even I am facing the same issue on IE11, any suggestions ?

[2018-04-25 22:42] spottedmahn opened #17 "Clarify Silent renewing of access tokens is not supported by all social identity providers."
Can you please clarify:

from the [readme.md](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/README.md)?

- What IDPs are not supported?
- Why wouldn't they be supported?  We're requesting access tokens B2C not the IDP.
- Is "silent renewing of access tokens" the same thing as ["silently requesting an access token"](https://docs.microsoft.com/en-us/

[2018-06-28 18:04] Vasanth1981 opened #18 "How to keep user logged in"
Hi,
I just used this example, everything works fine. But if refresh the page and open a new window with same url then session is gone. I need to re-login again.

Is that something I'm doing wrong?

-Vasanth.

[2018-07-07 00:11] vladkosarev commented on #18
@Vasanth1981 you can add something like this after clientApplication has been initialized
[code]

That way if user is already logged in your UI will update properly.

[2018-07-07 21:45] ahenaol commented on #4
Try editing your policy. Under **Token, session & SSO config**, change any value and save the changes. I think it is a AD B2C bug.

[2018-07-10 03:37] AnnaShk commented on #9
Hi,

I've used the mentioned by @mikelunn solution (commented on Nov 29, 2017) for user forget password.

As a result I have this request (from dev tools):

Issues:
1. Could you please help me to find why Request Headers are almost empty? So the request fails with no CORS headers (No 'Access-Control-Allow-Origin' header is present on the requested resource).

2. The msal adding /v2.0/.well-known/o

[2018-07-26 23:07] ganeshthiagarajan opened #19 "Token Expiry and Renewal"
Do we have any sample codes that indicate how to check if the token has expired and also how to renew the token when it is expired using MSAL for SPA?

[2018-08-07 18:10] chriseugenerodriguez commented on #9
@mikelunn What is in your appconfig i.e passwordReset variable?

[2018-08-07 18:39] mikelunn commented on #9
@chriseugenerodriguez The passwordReset variable is  the name of the PasswordReset Policy for your tenant.  Below is an example.
https://login.microsoftonline.com/tfp/My-Tenant-Name/B2C_1_MyPasswordResetPolicy

[2018-08-07 20:12] chriseugenerodriguez commented on #9
@mikelunn thanks, looks good.

[2018-08-13 06:18] srivathsanvlb opened #20 "Azure AD B2C Msal.js acquireTokenSilent Performance issue"
Hi Azure team,

I am facing performance issues while using msal.js. I have all the details over here

https://social.msdn.microsoft.com/Forums/en-US/22a53bc6-cd7d-4226-ba61-3ba84368dd8b/azure-ad-b2c-msaljs-acquiretokensilent-performance-issue?forum=WindowsAzureAD

Appreciate a quick turn around. Thanks in advance.

[2018-08-13 15:10] nehaagrawal commented on #20
@srivathsanvlb Can you please mention what version of library you are using?
Also could you please directly open an issue on MSAL's github page directly in future. We are more active there.
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

[2018-08-13 15:38] srivathsanvlb commented on #20
Hi @nehaagrawal

First of all, thanks for the quick reply.

I am using https://secure.aadcdn.microsoftonline-p.com/lib/0.1.3/js/msal.min.js

I can open this in the above said thread
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

Let me know if I have to close this and open there now.

[2018-08-14 07:35] srivathsanvlb commented on #20
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/393

[2018-09-21 17:39] kaburkett commented on #4
Linking a bug that was opened on the document side that seems to reference this issue.

[2018-09-27 09:25] narenkv opened #21 "CORS Error while using the Google"
I am getting the following error while using google account. Any thoughts please

![image](https://user-images.githubusercontent.com/17287435/46136401-200cdf00-c265-11e8-93f6-772d272bc239.png)

/Naren

[2018-10-02 12:26] SimeonBanev commented on #9
@mikelunn Your example works for me but after the user resets their password and they get redirected back to the app if I call acquireTokenSilent I get the same error that @DibranMulder described:

 - 'Refused to display url in a frame because it set 'X-Frame-Options' to 'deny'.

Is anyone else having this issue and did you manage to find a solution?

[2018-10-25 13:17] tompi commented on #10
Also struggling with redirectLogin, it works ALMOST all of the time :(

The link from @jmprieur seemed very promising, but alas, it is removed. Cant find ANY documentation on how to use redirectLogin(I can not really understand that anybody would use a popup for login on an actual production site...)

[2018-10-25 14:05] jmprieur commented on #10
@tompi : I believe the new link is https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/samples/VanillaJSTestApp/index_LoginPopup.html

adding @navyasric to confirm and share links on documentation on how to use the LoginPopup

[2018-10-25 20:29] navyasric commented on #10
@tompi If you are looking for the redirect login method you can find it here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/samples/VanillaJSTestApp/index_LoginRedirect.html

The login with popup sample is here as pointed out above:
 https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/samples/VanillaJSTestApp/index_L

[2018-11-09 12:51] kwaazaar commented on #13
Why is a popup even attempted? All/most browsers don't allow it.

Also I cannot get the loginRedirect to work: it logs on, but when being posted back to my app, the id_token, which is passed on the URL, is not used. I also cannot find any other samples that actually work out of the box. Is there any decent documentation anywhere?

[2018-11-15 12:30] ghost commented on #9
@SimeonBanev same here, so i use also this workaround:

`
this.broadcastService.subscribe("msal:acquireTokenFailure", (payload) => {
 console.log("logging out");
      this.logout();
    });
`

[2018-11-17 20:50] josmithua commented on #15
It's 8 months later, but for anyone else looking at this in Nov 2018, the authority should be in the form:
`https://login.microsoftonline.com/tfp/<tenant-name>.onmicrosoft.com/<policy-name/v2.0/.well-known/openid-configuration>`

or

`https://<tenant-name>.b2clogin.com/tfp/<tenant-name>.onmicrosoft.com/<policy-name>/v2.0/.well-known/openid-configuration` (this is the preferred form going forward,

[2018-12-12 13:48] kwaazaar commented on #21
Same here: Refused to display 'https://accounts.google.com/o/oauth2/auth?client_id=301054547402-ivri5hn0ocorhtm1md2d3r4gpl9uljjb.apps.googleusercontent.com&redirect_uri=https%3a%2f%2fkwaazaar.b2clogin.com%2fkwaazaar.onmicrosoft.com%2foauth2%2fauthresp&response_type=code&scope=email+profile&state=StateProperties%3deyJTSUQiOiJ4LW1zLWNwaW0tcmM6MTRlNDhmYmQtYjNjMS00N2IyLWI2YjAtMTZlZmIzZGEzOTBmIiwiVElEI

[2018-12-14 14:37] arahate opened #22 "CORS Error"
Getting CORS Error, How to fix CORS set Azure B2C directory?

![capturecors](https://user-images.githubusercontent.com/10863978/50009023-d8802e80-ffdb-11e8-9fbb-3e2d56bee1ec.PNG)

[2018-12-14 15:02] pascalgn commented on #22
I think the issue is the 404: Maybe tenant ID or signup policy name "b2c_1_siupin" are wrong. In that case Azure returns a 404 and apparently also does not send any CORS headers

[2018-12-16 21:38] danielekbom commented on #9
I am using the solution posted by mikelunn. It works sometimes. About 50% of the times when I click on "Forgot your password" link it redirects me back to the login page. Is someone else having this issue or know what the problem might be? Thanks!

[2019-01-04 12:40] tank104 commented on #9
Hi @mikelunn  I noticed that your msal.service.ts misses a lot of the code that is in the nuget package:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.service.ts

Is all that code not important?

[2019-01-04 13:39] tank104 commented on #9
I am also have trouble getting your example to work @mikelunn .
It will always go to the signin page, even after it successfully gets to the code where we change authority to password reset.

Should I still have this in the NgModule:
[code]

It seems whatever is setup there overwrites whatever I pass in to the authorityUsed here:

`    this.userAgentApplication = new UserAgentApplication(environme

[2019-01-04 14:16] mikelunn commented on #9
I moved my auth logic to the server side with their .net core libraries.
I'm not certain if my code example is still relevant. I would defer to the
Azure example repository that you posted.

On Fri, Jan 4, 2019 at 8:39 AM NimbleHive <notifications@github.com> wrote:

[2019-01-04 20:50] tank104 commented on #9
Do you happen to have an example of yours above working you could share? I really would like to figure out why mine only works sometimes, and why it trys to go to both aignup and password reset pages at the same time.

[2019-01-05 04:10] tank104 commented on #9
Ok so I managed to get it working, its a bit complicated, and unfortunately meant changing the "@azure/msal-angular" npm package.
In brief what I did was copied the package source into my folder "app/msal-angular", then I made a pass-through class around MsalService.  This wrapper class created MsalService, and passed in a callback onTokenCallback.  The code within that was this;

[code]

MsalServ

[2019-01-05 22:37] tank104 commented on #9
Actually there is an easier/cleaner fix.
Copy the msal-angular source code to your app.  Add a new option in msal-config called passwordResetAuthority, then change the code below to add in the first if statement in msal.service.ts:

[code]

[2019-01-28 04:02] Iamnvincible opened #23 "Authority uri with b2clogin.com can not work with msal.js v0.2.4"
I used `npm install msal` and the latest version of msal.js is 0.2.4 rather than 0.1.1
https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/7b68322a9a020cf23197534e677537a7915c7143/index.html#L24

In the applicationConfig fields, `authority` field can not accept `https://{tenant}.b2clogin.com/tfp/{tenant}.onmicrosoft.com/B2C_1_SiUpIn` , and it will print an erro

[2019-01-28 06:30] pascalgn commented on #23
Did you use the string `https://{tenant}.b2clogin.com/tfp/{tenant}.onmicrosoft.com/B2C_1_SiUpIn` literally? You should replace `{tenant}` with your tenant name, so it should look like `https://yourb2ctenantname.b2clogin.com/tfp/yourb2ctenantname.onmicrosoft.com/B2C_1_SiUpIn`

[2019-01-28 06:48] Iamnvincible commented on #23
finally, I solved this problem by adding a attribute `validateAuthority: false`.
Thanks.
[code]

[2019-01-28 06:48] #23 closed

[2019-02-04 04:07] MaximBalaganskiy commented on #9
Another option is integrating password reset in the same signin-signup policy. Then the id token, issued after a reset will belong to the same authority and can be used to get access tokens. You will still need to catch "access_denied" errors and redirect to this super combined policy with a token (InputTokenFormat = JSON or JWT) which has to contain a "trigger" claim directing the user flow.

[2019-02-08 21:27] jennyf19 commented on #9
@MaximBalaganskiy Do you have documentation or code which shows how to do this? Seems like a quick fix and easiest way around this issue.

[2019-02-10 23:02] MaximBalaganskiy commented on #9
@jennyf19 [This](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/wingtipgamesb2c/Policies/b2ctechready.onmicrosoft.com_B2C_1A_invitation.xml) policy demonstrates how to pass additional claims to the user flow. I couldn't find any examples on how to use JSON though - must be similar and simpler - no need to sign. In the user journey you can activate different "pa

[2019-02-22 15:43] DannyRyman commented on #9
I have done some investigation regarding the "Refused to display url in a frame because it set 'X-Frame-Options' to 'deny'" issue when logging into the application after a password reset. I think AAD has a couple of issues in how it has implemented this functionality. The first thing is that they are not storing a SSO cookie as part of the password reset policy. This is exasperated by a second iss

[2019-03-22 05:09] SujitGodavarti commented on #9
I use MSAL for authentication in my angular app and Sign in and Sign up work perfectly. I am trying to implement forgot password functionality now. I created the necessary policy in the azure portal. When I click on 'Forgot your password' link, I encounter a CORS error mentioned below.

Access to XMLHttpRequest at 'https://myb2ctest.b2clogin.com/myb2ctest.onmicrosoft.com/oauth2/v2.0/authorize?p=my

[2019-03-22 14:07] spottedmahn commented on #9
Hi @SujitGodavarti - I would personally open another issue as this issue related but feels different to me.

[2019-03-22 14:24] spottedmahn commented on #19
The MSAL.js library handles that for you 😊

See [`getCachedToken()`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/89307c1cb9f075f24a48aed77d9502824a9c346b/lib/msal-core/src/UserAgentApplication.ts#L1703):

[code]
---
I don't see it documented in the [wiki though](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki).  Perhaps an issue should be opened

[2019-03-22 15:09] spottedmahn commented on #12
Agreed @gavinbarron, [more details here](https://stackoverflow.com/a/46250877/185123).

[2019-03-26 01:08] AnnaShk commented on #22
Hi @arahate,

Did you find the solution for your issue? I'm having the same but in password reset scenario.

Thank you

[2019-04-18 14:30] smoms opened #24 "User 'undefined' logged-in"
Hi,
i've followed the tutorial and with my WebAPi i get "User 'undefined' logged-in" after the login. Why user is undefined?

[2019-05-04 18:11] aszalacinski opened #25 "Update MSAL to latest version"
The MSAL being used on this example if from 2017... version 0.1.1... a lot appears to have changed since then...

[2019-05-06 00:08] navyasric commented on #25
The sample has been updated to use MSAL.js 1.0.0. Please try it out. Thanks.

[2019-05-06 00:08] #25 closed

[2019-05-07 19:31] aszalacinski commented on #24
I see that none of the specified claims coming back. All are undefined. I wanted to get back Given Name, Sur Name, Email address and username; all undefined.

[2019-05-08 00:39] aszalacinski commented on #24
Nevermind... its in the IdToken returned from the endpoint. @smoms look inside the idToken on the response.

[2019-05-22 19:18] ByungkwonJeon opened #27 "Javascript is not running in login page"
I enabled on the javascript enforcing page layout. And when I test with postman and 'run user flow', I can see javascript is running on login page. But with MSAL library the javascript is not running on login page. Can you please provide any advice to run the script?

[2019-05-23 09:08] edmondchingicg commented on #14
Is there any update on this issue?

[2019-05-28 18:08] pkanher617 commented on #14
@chesterhartin @anirudhholla @edmondchingicg Sorry for the delay in response. We will take a look at this issue and get back as soon as we can.

[2019-05-31 03:03] CalvinDale opened #28 "README.md refers to non-existent code in index.html"
The instructions published [here](https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-javascript-msal-singlepageapp/) and in `README.md` indicate the following:

[code]

But those lines don't exist in `index.html`.

[2019-05-31 03:54] CalvinDale commented on #28
Oops! I was looking for these lines in the SPA app rather than the API app. However, there is a mistake in these instructions. They refer to `index.html` rather than `index.js`.

[2019-05-31 03:54] #28 closed

[2019-06-02 13:35] CalvinDale opened #29 "Getting 401s when adapting this sample to Angular and Azure Functions"
I tried to adapt this sample to Angular (SPA) and Azure Functions (API). I'm getting `401 Not Authorized` when the SPA calls an API. Details are in this [stack overflow issue](https://stackoverflow.com/q/56411863/852956).

[2019-06-04 22:21] mmacy commented on #25
For reference, the PR with the msal.js 1.0.0 was #26

[2019-06-06 04:22] joanhg commented on #18
I'm having the same issues. I tried the code above and still not working.

[2019-06-21 08:28] dluque92 commented on #9
My problem is after forgot password/editProfile the callback don't return into the correct callback, because in this case the state is not included in the initialization, and also the callback is outside the initialization too.

Function onTokenCallback changed again,

https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/msal-js-initializing-client-applications

Now is like this:
[

[2019-07-14 16:51] bgavrilMS opened #33 "G"
![image](https://user-images.githubusercontent.com/12273384/61186659-c6449c80-a65f-11e9-9fc5-15e6f3765b16.png)

I get this with pretty much any identity provider. I suspect this is because the web api has not been updated to work with b2clogin.com, even though there is a PR for this (open since Jan)

[2019-07-16 17:22] bgavrilMS opened #34 "Instructions for using own tenant are not up to date"
Step 5, substep 3 shows login.microsoftonline.com instead of b2clogin
The little code snipped on step5 shows a single config object, but the code has 2 config objects:

[code]
![image](https://user-images.githubusercontent.com/12273384/61315417-9da2db00-a7f6-11e9-8c15-004429371261.png)

[2019-07-16 17:28] jmprieur commented on #34
do you want to propose a quick PR, @bgavrilMS ?

[2019-07-18 17:59] jasonnutter opened #36 "Call Web API always fails with 401"
I'm attempting to run this sample and cannot get it to successfully call the web api, as it returns a 401 error every time.

Repro:
1. Clone repo and run `npm install`.
2. Run the server.
3. Click to login (tried both a personal @outlook.com and @gmail.com account).
4. Click the button to call the web api.
5. Get the following output:

[code]

In the terminal:
[code]

[2019-07-23 14:50] bgavrilMS commented on #36
Yes, I can repro every time. Sadly the web api code sample is used as part of "calling your own web api" in other samples as well, so it's a more widespread problem.

[2019-08-30 07:19] agrabhi opened #38 "Feature request: Catching errors returned by B2C."
The sample should also tell how the errors returned from B2C can be caught and acted upon.

For example see below question
https://stackoverflow.com/questions/57670399/azure-active-directory-b2c-catching-error-from-invitation-page

[2019-09-08 17:58] jennyf19 commented on #36
@jasoncoolmax @bgavrilMS
I didn't realize your samples were broken too, until I tried it today. Our .NET samples and your js samples are all using the same node.js sample to make the api call.

The issue is w/the node.js api (https://fabrikamb2chello.azurewebsites.net/hello), which has hard coded "login.microsoftonline.com".

I have fixed it, plus a few other things, and can run it on localhost. N

[2019-09-08 17:59] jennyf19 commented on #33
[have identified the issue, will be fixed this week](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/36)

[2019-09-08 17:59] #33 closed

[2019-09-08 18:00] jennyf19 commented on #29
@CalvinDale Have identified the root cause, will be hosting a new api and updating the samples this week. More [info here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/36)

[2019-09-08 18:00] #29 closed

[2019-09-09 10:33] bgavrilMS commented on #33
Very cool, lots of happy customers!

[2019-09-11 21:50] jennyf19 commented on #36
the api call is working now. I tested it w/this sample.

[2019-09-11 21:50] #36 closed

[2019-09-11 21:52] jennyf19 commented on #29
@CalvinDale the api has been updated.

[2019-09-12 01:40] jennyf19 commented on #34
I merged your PR which I think addressed this @bgavrilMS

[2019-09-12 01:40] #34 closed

[2019-09-12 01:40] jennyf19 commented on #24
@smoms are you still having an issue w/this?

[2019-09-12 01:41] jennyf19 commented on #22
@arahate did you get this figured out?

[2019-09-12 01:43] jennyf19 commented on #21
@narenkv @kwaazaar I just tried the sample as-is and did not have the same issue w/the google log-in. Sorry this went unanswered for so long.

[2019-09-12 01:43] jennyf19 commented on #20
looks like this was addressed. closing

[2019-09-12 01:43] #20 closed

[2019-09-12 01:44] jennyf19 commented on #19
@spottedmahn do you know if this information was included in the wiki? thanks.

[2019-09-12 01:46] jennyf19 commented on #18
@Vasanth1981 @joanhg I just tried the sample. If I log-in, open a new window and log-in there, I'm not shown a sign-in prompt again. I tired with a Microsoft and Google account with same results.

[2019-09-12 01:48] jennyf19 commented on #27
@pkanher617 thoughts on this?

[2019-09-12 01:50] jennyf19 commented on #17
@spottedmahn I'm not aware of this restriction.

@DarylThayil @sameerag - do you know what the above comment refers to?

cc: @valnav

[2019-09-12 02:21] jennyf19 commented on #12
@HoussemDellai @gavinbarron @spottedmahn
The fix for this is using b2clogin.com, and not login.microsoftonline.com. With login.microsoftonline.com, the cookies would accumulate, but w/b2clogin.com B2C condenses the cookies. If you want more info on this, lmk. Thanks.

closing.

[2019-09-12 02:21] #12 closed

[2019-09-12 11:16] smoms commented on #24
too long ago. I do not remember anymore.

[2019-09-12 13:46] spottedmahn commented on #19
looks like it 😀: [Q3. How to renew tokens with MSAL.js](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs)

[2019-09-12 15:35] sameerag commented on #17
@ktsakas FYI

[2019-09-12 16:38] jennyf19 commented on #19
Awesome! Thanks for the quick response @spottedmahn will close.

[2019-09-12 16:39] jennyf19 commented on #24
@smoms sorry it took us so long to engage with you. will do better moving forward.
if you continue to have issues, please reopen or create a new issue. thanks!

[2019-09-16 19:21] sameerag commented on #38
@agrabhi As discussed, this may need to take some dependency on the B2C dev team, FYI @ktsakas and me are working on improving the sample with more complex use-cases and track this as a part of the effort.

[2019-09-17 17:16] leonbrag commented on #22
I have the same issue, when setting up locally. I can login, but cannot invoke API:
![image](https://user-images.githubusercontent.com/5290089/65063938-255eb000-d934-11e9-94b7-719b423181b2.png)

[2019-09-20 15:31] jmereaux opened #40 "Sample not working when using ADFS as the ADB2C identity provider"
Hi,

We have an Azure ADB2C instance which is configured with an ADFS as the backend IdP.

When using this sample, clicking on the login button launches a popup displaying our custom login form. On this form we can click on a `Login with ADFS` button, which redirects to the ADFS login page.

When logging into the ADFS, the browser gets redirected to the SPA, but we are not logged in.
We can see th

[2019-09-23 21:50] idegollado commented on #24
I have this problem too.
![image](https://user-images.githubusercontent.com/25804691/65465525-27d47480-de22-11e9-825b-48c64620efe1.png)

[2019-09-24 01:11] jennyf19 commented on #24
@SeniorID Are you running the sample as-is? which idp are you signing in with?

[2019-10-16 18:56] adebruyne opened #41 "Readme needs update"
I was following the Readme step by step, but there seems to be some errors in the directions that don't reflect the code.

Under the **Using your own Azure AD B2C Tenant**, step 3, there is an indication to "update the following variables" including tenantID, clientID and policyName in the index.html of the Node.js Web API sample.

But in this directory, there is not index.html. There is an index.

[2019-10-19 09:13] ErikAndreas commented on #9
Having the same problem as @dluque92, as well as with update user profile, similar to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/440. See also my issue on b2c docs https://github.com/MicrosoftDocs/azure-docs/issues/41013

I've found this PR https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/915, could someone shed some light on

1. will this PR f

[2019-10-19 17:40] jennyf19 commented on #9
fyi: @DarylThayil @sameerag

[2019-10-25 00:35] mmacy opened #42 "decouple auth flow from API access"
In the article [Tutorial: Enable authentication in a single-page application using Azure AD B2C](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-tutorials-spa#error-insufficient-permissions), readers are instructed to modify the sample such that it works with their own B2C tenant. In [part two of the series](https://docs.microsoft.com/azure/active-directory-b2c/active-di

[2019-10-25 00:54] jennyf19 commented on #42
@sameerag @DarylThayil @pkanher617

[2019-10-25 15:43] sameerag commented on #42
Thanks @mmacy  and @jennyf19. The initial sample was worked of the prior model B2C dev team and the `msal js` quickstart provided and we focused on making it functional with the new API of `msal js`.

I agree with the comments, will be able to work on this soon.

[2019-10-25 16:09] jennyf19 commented on #42
Thanks @sameerag !

[2019-10-25 18:28] DarylThayil commented on #42
@sameerag should we create an issue in our github linked to this so we don't lose it?

[2019-10-25 19:04] sameerag commented on #42
Yes @DarylThayil. I plan to address this as a part of our sample/integration test work, I am creating work items in `msal js` github later today. Will link the issue # here once I have it.

[2019-11-08 18:31] mmacy commented on #42
Hi @sameerag & @DarylThayil, has the `msal.js` work item been created for this, by chance? We're currently providing a quite sub-optimal experience in the tutorials due to the API access attempt at sign-in, so wondering if we can get this on the TODO list.

Here's the warning message I've added to our tutorial:

![image](https://user-images.githubusercontent.com/13394541/68501349-c66e3680-0212-11e

[2019-11-08 18:47] sameerag commented on #42
@mmacy https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1082 is tracking this activity.

[2019-12-03 18:14] stephlocke opened #43 "Sample for v1.2.* ?"
Is it possible to for you to make a branch of this sample that corresponds to the next version of the msal.js lib? There's changes to the way redirects are handled and associated permissions that makes the latest version of this app on master not work
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS:-1.2.0-beta.0#feature-iframes-support-and-performance-enhancements

[2019-12-04 14:22] Backslider23 opened #44 "API does not exist"
I'm trying to get this sample to run, and it seems like the API that it is trying to call is not available.

https://fabrikamb2chello.azurewebsites.net/hello

I get a domain not found error.  I've tried from several different networks.

[2019-12-18 08:52] rakeshrajagopal24 commented on #9
Folks,
We are getting same error in our envrionment (see below). "*error=access_denied&error_description=AADB2C90118%3a+The+user+has+forgotten+their+password.%0d%0aCorrelation+ID%3a+f5af0d19-7e04-4473-93d8-1e4f58304951%0d%0aTimestamp%3a+2019-12-18+07%3a45%3a30Z%0d%0alogin_hint%3a+rka%0d%0a*"

We have Okta as passthrough and Azure B2C as IDP. Thus when we get this error we are being redirected back

[2019-12-30 00:21] blinkybill commented on #6
I still can't find them there either

[2020-01-07 14:15] gurteshwar commented on #44
Hi, is there an update on this. I'm facing the same issue

[2020-01-10 13:08] mtelbertbiker commented on #44
I am facing same issue as well.

[2020-01-13 16:26] mmacy commented on #44
Thanks all for the notice on this, I'll see what I can find out.

Cc: @sameerag @valnav @jennyf19

[2020-01-13 16:45] jennyf19 commented on #44
@mmacy working on it now. thanks. we've had issues w/this in the past. am going to recreate it.

[2020-01-13 17:53] jennyf19 commented on #44
@mtelbertbiker this is going to take us some time, as we have higher priority work at the moment, but i'll try to get to it this week. You can run it locally on localhost if you want or use your own web api, for the moment.

cc: @mmacy

[2020-01-13 20:45] mtelbertbiker commented on #44
FYI I was able to resolve my application issues using this sample -
https://github.com/HWouters/ad-b2c-oidc-angular

On Mon, Jan 13, 2020 at 10:53 AM jennyf19 <notifications@github.com> wrote:

--
*Rob Johnson*
*303-589-3871*

[2020-01-16 14:01] jmprieur commented on #44
@mmacy : the API is back online
cc: @jennyf19

[2020-01-16 14:01] #44 closed

[2020-01-21 01:08] jennyf19 commented on #43
@DarylThayil @sameerag Can you update this sample to the latest version of of msal. js? thanks.

[2020-01-21 01:11] jennyf19 commented on #40
@sameerag @DarylThayil thoughts on this?

@jmereaux do you have a repro you can share?

[2020-01-21 01:12] jennyf19 commented on #22
@jmprieur thoughts on this?

[2020-01-21 02:21] jmprieur commented on #22
@leonbrag : is there anywhere in your code where http://localhost:3000 is mentioned? it's nowhere in the sample, and I'm wondering where this is coming from:
cc: @jennyf19

[2020-01-21 04:18] sameerag commented on #40
Well this could be an additional complication with the B2C policies and silent calls (which happen in an iframe); cc @ktsakas, I will investigate further and update.

[2020-01-21 04:20] sameerag commented on #43
We fixed an issue with B2C that has issues with sandboxed iframes in `msal@1.2.0` and released `msal@1.2.1`. We will be updating all samples this week to reflect the same, this is currently not updated as the CDN release for `msal@1.2.1` is not yet made.

[2020-01-21 04:48] leonbrag commented on #22
In my case SPA was on Web API were on listening on the different port. So error was expected. Error was fixed by allowing cross domain on Web API:
    res.header("Access-Control-Allow-Origin", "*");
    res.header("Access-Control-Allow-Headers", "*");

[2020-01-21 14:08] jmprieur commented on #22
Closing the issue as there is an answer.

[2020-01-21 14:08] #22 closed

[2020-01-21 16:02] jennyf19 commented on #22
thanks for the update @leonbrag

[2020-01-23 22:28] sameerag commented on #43
CDN is now available and PR #47 is in progress to close this issue.

[2020-01-23 22:29] sameerag commented on #42
Samples update is expected to ship mid february from msal js which would be ported for the B2C use case around the same time.

[2020-01-23 22:32] sameerag commented on #41
@adebruyne Thanks for the feedback. This should be "node server.js" I believe. I will follow up with the team and have this updated asap.

[2020-01-23 22:33] sameerag commented on #40
@jmereaux Can you please share the steps to repro and sample code of your token requests?

[2020-01-23 22:34] sameerag commented on #41
Please expect this to be closed by early next week

[2020-01-23 22:35] sameerag commented on #38
tagging this with #48

[2020-01-23 22:35] #38 closed

[2020-01-23 22:37] sameerag commented on #27
Can you please try the latest sample and [msal js](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.2.1) and have us know if this is still an issue? Please raise a new issue if this exists with clear steps to repro and sample code.

Closing this now.

[2020-01-23 22:37] #27 closed

[2020-01-23 23:03] BrioLichen commented on #27
@sameerag why should i update the sample to the latest version of the msal js? shouldn't the maintainers of this sample be doing that? and why close this issue?

[2020-01-23 23:05] sameerag commented on #27
Apologies for any confusion, I have updated the sample (#47) with the latest code. Can you try that once merged?

Since the issue is raised before some time, wanted to ensure if this is still an open issue for you. Pls comment here once you are able to test and I will reopen/track with a new issue if the original issue persists.

[2020-01-23 23:07] sameerag commented on #4
Is this still an issue with the latest sample? Please let us know.

[2020-01-23 23:09] sameerag opened #48 "Update samples for B2C with all supported policies"
Update samples for B2C with all supported policies and basic use cases, tagging this with `msal js` issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1082)

[2020-01-23 23:10] sameerag commented on #6
Tagging this with #48 and closing.

[2020-01-23 23:10] #6 closed

[2020-01-23 23:18] sameerag commented on #7
Latest [msal js] (https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.X) supports user passing a `state` variable in the request API (`acquireTokenSilent` or `acquireTokenPopup` etc).

[code]

Closing this issue.

[2020-01-23 23:18] #7 closed

[2020-01-23 23:19] sameerag commented on #8
Closing as addressed by @parakhj

[2020-01-23 23:19] #8 closed

[2020-01-23 23:21] sameerag commented on #10
**Updating sample links for redirect:**

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/VanillaJSTestApp/index_redirect.html

In general msal usage samples now moved to: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples

Please open a new issue if this is still a concern.

Also tagging with #48 so we ensure covering this use ca

[2020-01-23 23:21] #10 closed

[2020-01-24 16:21] stephlocke commented on #43
Thanks folks 👍

[2020-01-24 16:24] mmacy commented on #42
Thanks, @sameerag. Tagging in @msmimart for coordination of and update to the companion tutorials when the sample update is ready. We'll need to publish the updates simultaneously so the docs and the sample remain in sync.

[2020-01-29 16:56] jennyf19 commented on #43
@sameerag this can be closed now right? i saw the PR was merged.

[2020-01-29 17:18] sameerag commented on #43
Yes @jennyf19. Closing this as #47 is merged.

[2020-01-29 17:18] #43 closed

[2020-01-30 01:34] nlz242 commented on #9
To add to @rakeshrajagopal24 's comment...
We are a company that provide a web app to different orgs (cities, non-profits, etc), this web app supports OpenID Connect so that our clients (orgs) can configure it to work with their IdP of choice. Our implementation follows the OpenID Connect standards, we strive to keep it as standard as possible so that it works everywhere. Recently, we tryed to get

[2020-01-30 04:14] jennyf19 commented on #9
@nlz242 @rakeshrajagopal24 Thanks for the feedback. B2C is working on improving the developer experience here, and having the service handle the password reset directly from the dialogue is on the backlog.

cc: @valnav @nickgmicrosoft @ktsakas to add more info here.

[2020-02-05 22:44] mikelazell commented on #4
Yes it is. I just had the same issue as people above. My config was correct.

To fix I made a simple change to my signin flow (changed Refresh token lifetime (days) from 14 to 15) and back again and it all started working without any other changes..

[2020-02-06 00:06] CodyMorris commented on #40
I'm having the same experience trying to use `acquireTokenSilent` , with a SAML IDP configured in AzureB2C.

If I use `acquireTokenPopup` I do not get this xframe error.

Because you are using ADFS I assume it is also configured using SAML and the guide here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs2016-custom?tabs=applications .   I think I'm in the same

[2020-02-06 00:10] CodyMorris commented on #17
Any update here?  I see the reference issue has been closed.  Trying to troubleshoot challenges using silent renewal and i'm not sure if its related to these unspecified limitations

[2020-02-06 00:13] jennyf19 commented on #17
@sameerag @DarylThayil can provide some insight here? thanks

[2020-02-06 04:14] sameerag commented on #17
I can add what we support in `msal js` and (@valnav) to correct me if I am missing any information:

- `msal js` does support B2C flows for `acquireTokenSilent` but with certain conditions due to the manner in which B2C policies can manifest certain UI patterns.
- An interaction is mandated for any initial login and once a session is established and a token can be acquired silently, the use case i

[2020-02-06 04:15] sameerag commented on #17
Also cc @ktsakas is he has anything to add.

[2020-02-10 16:50] sameerag opened #49 "Note on B2C usage with msal js"
- `msal js` supports B2C flows for `acquireTokenSilent` but with certain conditions due to the manner in which B2C policies can manifest certain UI patterns.
- An interaction is mandated for any initial login and once a session is established and a token can be acquired silently, the use case is straight forward and supported.
- Some policies like `edit-profile` by default would need interaction a

[2020-02-14 17:56] jennyf19 commented on #49
@sameerag  is this in the wiki somewhere? would be useful to have there and maybe more discoverable.

[2020-02-14 17:58] sameerag commented on #49
I am working on making it official, we have some gaps to document. This will be in the wiki soon. The pinning of an issue is a temp alternative.

[2020-02-20 13:28] benheymink commented on #41
Just hit this as well, bit confusing. Are you happy for others to submit a PR to fix the docs?

[2020-02-25 19:43] #13 closed

[2020-02-25 19:43] #41 closed

[2020-02-25 19:43] #42 closed

[2020-03-20 05:33] karm435 opened #53 "MSAL loginRedirect does not work properly."
If I use the MSAL loginRedirect method and if I run the sample and use email and password to login it does not login the user or call the handle callback method. Also, clicking on Google button to sigin with Google does not work.

[2020-03-20 17:04] mark-at-exelon opened #54 "Does MSAL support device-specific authentication features (touchID, FaceID, etc...)?"
Please provide any examples or information about MSAL's support for using device features like faceID, touchID, etc... (assuming B2C as IdP), and if that is not supported, please explain if that is planned. Thanks

[2020-03-20 19:29] derisen commented on #54
msal.js is a token exchange library, meaning that it is concerned with acquisition of access tokens from identity providers and presentation of these tokens to protected resources. The authentication mechanism (user credentials, biometrics etc.) used by the IdP itself falls outside of the scope of the library. So this question falls more on the side of AAD B2C administration, in particular custom

[2020-03-20 20:58] mark-at-exelon commented on #54
Will take a look at these, and already engaged with Microsoft on the policy question. Really appreciate the quick response. Thanks.

[2020-03-20 23:50] derisen commented on #53
In the upcoming PR there will be a clear demonstration of using the redirect flow. For now I would suggest looking into [this sample](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/authRedirect.js) to get an idea.

I was not able to replicate that. Can you be more specific about the error?

[2020-03-21 17:29] #54 closed

[2020-03-22 22:28] karm435 commented on #53
I am not sure if I can upload a video here. but I have a repo https://github.com/karm435/AzureAdSamples/tree/master/SPA_B2C. If I am running in the redirect login tag and click Google button to signup it does not load Google OAuth. It just refreshes the current page. I might get some more info or maybe record a video and upload it for reference.

[2020-03-23 19:19] derisen commented on #53
I see. Are you using the demo environment or your own environment? If you are using your own environment,  can you confirm that you have followed the correct configuration steps on Azure Portal, as shown [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers) and [here](https://docs.microsoft.com/en-us/azure/active-directory/b2b/google-federation)?

Also

[2020-03-26 22:40] karm435 commented on #53
The login popup works just fine. I am using my own environment and I followed the steps mentioned in those links to add custom provider and also Google. Popup method just work fine. With redirect I can register using the Azure Ad but then later if I login using those credentials it does not redirect.

[2020-03-26 22:42] karm435 commented on #53
For redirect it never called handleRedirectCallback after authentication. I will try incorporate those PR changes to my code and see if that works.

[2020-03-27 19:14] derisen commented on #53
That's ok, it actually calls it but the page gets redirected right after that so if you are doing any `console.log` there you won't be able to see anything.

Regardless, I've just tried sign-up/register and then login with those credentials on the upcoming PR, and it seems to be working fine. Can you please try again once we merge the PR? (should happen today)

[2020-03-31 13:57] mark-at-exelon commented on #54
Received update from Microsoft support: "there is not a solution for performing a biometric sign in into B2C and it is not planned in the near future, for this reason I would like to encourage you to leave us your feedback in order to improve azure Products in here https://feedback.azure.com/forums/169401-azure-active-directory"

[2020-03-31 22:04] derisen commented on #54
sorry to hear that @mark-at-exelon -and thanks for informing us.

[2020-04-05 06:55] mikebridge commented on #4
I wasn't able to retrieve access tokens until I used @unoti's solution.  Wish I'd found that about 8 hours ago---I didn't see that step in any of the documentation.

[2020-04-07 14:12] Ethan-Arrowood opened #55 "Missing how to handle 'Forgot your password' redirect"
Apparently when using a Sign Up/Sign In flow, clicking on the 'Forgot your Password' link will send an error back to the client. This tutorial is missing the handling of this error to show how we redirect the user to resetting their password.

Here is a stackoverflow link: https://stackoverflow.com/questions/41497158/azure-ad-b2c-self-service-password-reset-link-doesnt-work

And official docs: htt

[2020-04-07 14:55] Ethan-Arrowood commented on #9
Is anyone able to redirect within the popup?

[2020-04-07 18:55] derisen commented on #55
@Ethan-Arrowood good catch! I'll add this in the upcoming PR

[2020-04-07 20:45] jasonnutter commented on #9
@Ethan-Arrowood Are you referring to this? https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1198

[2020-04-07 21:19] derisen commented on #53
@karm435 were you able to solve your issue? did the code in `derisen-refactoring` branch helped?

[2020-04-07 22:58] derisen commented on #18
Closing this due to inactivity and sample update. Please let us know if your issue persists.

[2020-04-07 22:58] #18 closed

[2020-04-07 22:59] karm435 commented on #53
I tried and it did not work for me. There might be an issue with my google provider configuration. I am gonna try it again today with different provider or do new configuration of with google provider.

[2020-04-07 23:01] derisen commented on #53
Ok, if another IdP is working it must be an issue with Google configuration. Let us know of your new configuration as well.

[2020-04-07 23:41] derisen commented on #21
Closing this due to inactivity and sample update. Please let us know if your problem persists.

[2020-04-07 23:41] #21 closed

[2020-04-08 18:00] derisen commented on #4
The sample and the documentation has been recently updated. This issue is resolved now.

[2020-04-08 18:00] #4 closed

[2020-04-09 01:57] Ethan-Arrowood commented on #55
Thank you @derisen

[2020-04-09 19:03] Ethan-Arrowood commented on #9
I believe so. In order to swap between authorities I needed to set the authority for the instance then call the login function again. Ideally I could just redirect the user from sign in/sign up to password_reset in one popup but 🤷‍♀️

[2020-04-12 15:19] derisen commented on #17
Closing this due inactivity. Refer to [this post](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/49) for details.

[2020-04-12 15:19] #17 closed

[2020-04-13 15:09] Ethan-Arrowood opened #57 "SPA example code is invalid"
This part of authRedirect.js seems like a mistake:

https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/ef99a862a05445b55aaa76425a3cb6b4b01920b4/JavaScriptSPA/authRedirect.js#L22-L28

Maybe something was missed in the recent example rewrite?

[2020-04-13 15:45] derisen commented on #57
Oh my.. Of course it should have been `if (accessToken !== null || accessToken !== undefined)` (or just `if (accessToken)`) instead! Thank you so much for this catch @Ethan-Arrowood -will fix that ASAP.

[2020-04-14 22:16] #57 closed

[2020-04-15 11:02] adomrockie commented on #9
this is a basic functional requirement for any user login process which should have been thought about before even releasing this. I do not mind using the workaround but since 2017 this ticket is still open, guys sort this out

[2020-04-15 17:42] derisen commented on #9
@adomrockie apologies for this. Better support for multiple policies and other B2C features is on its way. In the meantime, you can check out the `derisen-refactoring` branch where a workaround is demonstrated (in `authPopup.js` file).

[2020-04-16 14:02] derisen commented on #55
Closing this as duplicate. For now, please checkout the `derisen-refactoring` branch for the interim solution.

[2020-04-16 14:02] #55 closed

[2020-04-16 14:03] derisen commented on #53
Closing this due to inactivity. Let us know if you need anything more.

[2020-04-16 14:03] #53 closed

[2020-04-20 07:17] thomasando opened #59 "Sign In flow never appears"
I'm attempting to get this working and am reasonably certain I've got it all configured correctly.

With authPopup.js being used for the Log In the popup window appears very briefly, loads no content and then disappears.

If I use authRedirect.js absolutely nothing happens - click the button and there's nothing. No change to page, no logs in node.js. I've tried heaps of browsers, multiple devices

[2020-04-20 11:24] Uppanen commented on #59
I'm facing the same exact issue... I think it has something to do with the path that the login-dialog is trying to open. The url for the login adds "/v2.0/.well-known/openid-configuration" to the end of the login url and I can't get rid of it...

[2020-04-20 12:14] Uppanen commented on #59
Got it fixed. My authority url was too specific. Got the answer from: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/259

[2020-04-20 14:03] derisen commented on #59
@thomasando can you post your configuration? Is it possible that, like @theLadi , your authority string is too specific? It should just be just the domain and user flow part (the rest will be handled by msal.js), like:

`https://fabrikamb2c.b2clogin.com/fabrikamb2c.onmicrosoft.com/b2c_1_susi`

[2020-04-20 22:13] thomasando commented on #59
Thanks you!!! That's solved it.

For some reason I'd added some extra path into the URL - removed /oauth2/authresp and it's working. I have no idea why I did that but glad to say it's now fine!

`https://tenant.b2clogin.com/tenant.onmicrosoft.com/oauth2/authresp/B2C_1_testsusi`

[2020-04-21 15:01] derisen commented on #59
Completely understandable, as that string appears at few places. We will try to make it more clear how the authority string should like like in configuration.

Cheers.

[2020-04-21 15:01] #59 closed

[2020-04-26 22:48] jennyf19 commented on #9
@derisen can your branch be merged into master at some point so the functionality is there (even as a work around)?

[2020-04-27 17:47] derisen commented on #9
@jennyf19 will do that as soon as msal.js v1.3.0 is released (which fixes an issue with using the workaround with the redirect flow)

[2020-04-27 18:24] jennyf19 commented on #9
Thanks @derisen ...do you have an ETA on that?

[2020-04-27 18:44] derisen commented on #9
@jennyf19 you're welcome : ) I'm hoping for by the end of this week, but the timeline for release is not clear yet.

[2020-04-27 18:46] jasonnutter commented on #9
@jennyf19 @derisen I'm planning to have 1.3 available today.

[2020-04-28 00:45] jasonnutter commented on #9
Update: 1.3.0 is available via npm and cdn.

[2020-05-03 01:35] #9 closed

[2020-05-10 19:49] suzannechang opened #61 "The demo doesnt work on IE11"
Hi,

The demo doenst work on ie 11
The popup gives that the function Signin() is not set
How can i fix this?

Regards, Suzanne

[2020-05-10 22:27] derisen commented on #61
The sample is using ES6 conventions and as such, it does not support IE11. If you really must use it on IE11, try transpiling the code, in particular the arrow functions. For this, you can use [this tool](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=Q&debug=false&forceAllTransforms=false&shippedProposals=f

[2020-05-11 06:49] suzannechang commented on #61
Could you guide me a bit? I have transpiled and added bluebird. But nothing changes

[2020-05-12 10:04] stephenstroud commented on #61
@suzannechang Maybe have a look here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-use-ie-browser

[2020-05-19 17:03] derisen commented on #61
@suzannechang were you able to solve your issue? You first need to convert every arrow function and template literals. For instance, `signIn` function should look like:

[code]

And, you also need to import `polyfills` to your index.html, in the head section:

[code]

After that you're good to go. Let us know.

[2020-05-19 18:36] suzannechang commented on #61
It has been fixed! Thank you so much!

[2020-05-19 19:23] derisen commented on #61
Cheers : ) Closing this.

[2020-05-19 19:23] #61 closed

[2020-05-22 05:17] kiranbhadani commented on #49
#https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi/issues/20

[2020-05-22 05:21] kiranbhadani commented on #49
#https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi/issues/20

[2020-06-03 18:35] marcosvidolin opened #64 "Scope and"
Hi guys,

Can you help me with the following questions?
I'm building a SPA to use B2C authentication, but I don't know why I have to create the "Web API".
Why do I need to create the "Web API" and what is and where I get the b2cScopes?

[code]

Thank you

[2020-06-03 18:46] derisen commented on #64
@marcosvidolin you don't really need to have a web api, it's just a common use case to couple a single-page application with a web api for data operations.

If your aim is to just authenticate users to your b2c single-page app, simply remove the web api related code, or comment them out. (`apiConfig.js`, `api.js`, and anything else requests a token for the web api and calls it...)

The web api use

[2020-06-03 19:00] marcosvidolin commented on #64
Thank you @derisen

[2020-08-23 08:11] kid101 opened #68 "How to use this with Authorization Code Flow?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How do I configure Authorization Code flow with this example?, Right now it doesn'

[2020-08-24 06:02] nijandhanj opened #69 "In the Redirect Flow updateui() not working."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security

- [ ] Is this issue security related?

## Regression

- [ ] Did

[2020-08-24 11:26] Shyam268 opened #70 "Forgot password not working with B2C in angular"
I am using angular CLI version - 8.3.24 and msal-angular package version 1.0.0

Msal Configuration:

[code]

sample code:

[code]

i could able to signup and login properly.
when i click forgot password i am getting an error "AADB2C90118" and the login page terminated

[2020-08-24 16:13] jasonnutter commented on #70
@Shyam268 This is expected behavior. If you receive this error after performing a login operation, you should call the login operation again using the `forgot_password` policy, as demonstrated in the sample.

[2020-08-24 16:14] jasonnutter commented on #69
@nijandhanj Can you please provide more details, such as error messages and/or screenshots? Thanks!

[2020-08-24 16:49] derisen commented on #69
@nijandhanj I was not able to reproduce this. More info would be appreciated.

[2020-08-24 16:59] derisen commented on #68
@kid101 a new sample with a guide for auth code is on the line; we are coordinating the release with the resolution of CORS issue. There's also a [dev sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2148/files#diff-30b2efb6922bc3d82d780174c49623cc) and a [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1997/files) in the line o

[2020-08-24 22:18] derisen commented on #68
Closing this as no further action to take at the moment.

[2020-08-24 22:18] #68 closed

[2020-08-25 05:28] #69 closed

[2020-08-31 21:51] derisen commented on #14
This issue has been stale for some time, while MSAL.js has been updated heavily since. Closing this, but let us know if the issue still persists @chesterhartin @anirudhholla @edmondchingicg

[2020-08-31 21:51] #14 closed

[2020-09-18 17:25] tjmcclure0501 opened #72 "It Does Not Appear Auth Code PKCE Works With This Code"
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1795

It seemed that the CORS Issue was solved but I am using this sample and I still experience it.
## Reproduction steps
Access to XMLHttpRequest at 'https://straxprototype.b2clogin.com/straxprototype.onmicrosoft.com/b2c_1_susi/v2.0/.well-known/openid-configuration' from origin 'http://localhost:6420' has been blocked by C

[2020-09-18 18:27] derisen commented on #72
@tjmcclure0501 we have an auth code sample lined up, but we are holding on to it until all the issues with B2C service is solved. The main change you need to make to run this sample with auth code flow is to set the `knownAuthorities` property (after correctly registering your application in Azure Portal), as in:

[code]

Bear in mind there are further changes in the MSAL.js 2.x APIs. For instance

[2020-09-18 19:15] tjmcclure0501 commented on #72
Thx for your feedback - I thought the issue was already solved based on this link:
AzureAD/microsoft-authentication-library-for-js#1795 - how long do you think it will take?

Also the tutorial - which is a fantastic tool to see how it all works refers to an API Access window - I did not have this - did I do something wrong? See below:
**Once the application is created, open your My Test SPA and op

[2020-09-18 21:05] derisen commented on #72
@tjmcclure0501 you're welcome : ) that particular issue is resolved, but there is [another one](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1999) pending. Unfortunately, I don't have an ETA, but it is high priority (also, we have a document on [working with B2C](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-w

[2020-09-18 22:34] #48 closed

[2020-09-21 13:51] tjmcclure0501 commented on #72
Thanks for the doc - the missing piece I am talking about is in your document PART II - Step 2 the last bullet point - I made it in bold below - I do not see this option when I am configuring Azure following the steps given - did this change since the document was published or am I doing something wrong?

PART II: Configure the Client
Step 1: Register your own Web Application with Azure AD B2C
Nex

[2020-09-21 13:51] #72 closed

[2020-09-21 15:58] derisen commented on #72
@tjmcclure0501 Ah I see, it should have been **API Permissions** blade in the App Registration (below):

![screenshot](https://user-images.githubusercontent.com/13197548/93790936-70b33a80-fbe8-11ea-9348-59deca2fa216.png)

So sorry for the confusion, and thanks for catching it! I'll update the readme asap.

[2020-09-24 00:46] opticyclic opened #73 "Silent token acquisition fails ServerError: AADB2C90205"
Cloning the project and running it works as expected.

After following the tutorial steps to configure the Azure Portal and adding my own details I am able to sign up and log in and get the message:

    Hello User Name
    User 'User Name' logged-in

However, when I click the "Call API" button the login screen pops up again and the following is output to the console:

[code]

Nothing appears to h

[2020-09-24 01:11] opticyclic commented on #73
It seems like it might be related to Scopes and Permission Grants
https://github.com/MicrosoftDocs/azure-docs/issues/53530#issuecomment-622609340

[2020-09-26 05:59] sidm1983 opened #74 "Which of these auth config values are considered secrets?"
## Description

I would like to know if any of the authConfig.js or apiConfig.js values should be considered secrets? I am currently building a web app that has a web API back-end and a React SPA front-end with Azure AD B2C authentication being done in the React SPA. Just like the sample in this repo, I have auth config hard-coded in my React/JS code. Please let me know if any of the following val

[2020-09-27 20:30] derisen commented on #73
@opticyclic hard to know the cause without seeing your configuration. In particular, what scope are you using when requesting the token?

[2020-09-28 07:32] devanshgoenka97 commented on #49
It is mentioned here that SUSI V2 supports silent token acquisition.
However, on creating a user flow (Recommended - SUSI, which I presume is V2) I am unable to silently get a token across all IdPs. in fact, only for a handful of IdPs I was able to achieve the token silently. Anything that I am missing?

[2020-09-28 15:36] jasonnutter commented on #74
None of these are considered secrets. MSAL.js implements public client applications because web browsers are not capable of securely storing secrets.

[2020-09-30 14:02] sidm1983 commented on #74
@jasonnutter I figured as much, but just wanted to be sure. Thanks for confirming. ☺️🙌🏽

[2020-09-30 14:04] #74 closed

[2020-09-30 23:21] PvanHengel commented on #14
Hi we are seeing this issue, anyone have an update need help ASAP!

[2020-10-02 15:56] derisen commented on #73
Closing due to inactivity. Let us know if you need help.

[2020-10-02 15:56] #73 closed

[2020-10-08 18:23] opticyclic opened #75 "What Is The Recommended Way To Test This?"
## Library

 - "msal": "^1.4.0",
 - "react-aad-msal": "^2.3.5",

## Description

After successfully following this guide and having an email signup/login process integrated with my application I would like to do an end to end test.

However, this seems to cause problems with Cypress

https://stackoverflow.com/questions/57476816/handling-cypress-url-redirect

https://github.com/cypress-io/cypress/i

[2020-10-09 10:11] Shyam268 opened #76 "Is there any way to only change password instead of forgot password?"
Is there any way to only change password instead of forgot password?

used packages versions:
 "@azure/msal-angular": "^1.0.0",
"msal": "^1.3.4",

I have integrated msal  and signup, sign and forgot policies are working fine.
but i have to give support to user to change password after login.

[2020-10-09 19:55] derisen commented on #76
@Shyam268 simply have a button that triggers a function like below:

[code]

Let me know if that solves your issue.

[2020-10-09 20:00] derisen commented on #75
@opticyclic we do not have an official guideline for testing with cypress. However the samples in the main MSAL.js repository has e2e tests (mainly using Pupeeter). See [this for msal.js 1.x](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp) and [this for msal.js 2.x](https://github.com/AzureAD/microsoft-authentication-library-f

[2020-10-12 05:55] Shyam268 opened #77 "How do i configure msal angular service which is wrapper service of deferent services"
used packages versions:
"@azure/msal-angular": "^1.0.0",
"msal": "^1.3.4",

json example:

[code]

msal-coniguration.ts
[code]
we have deferent service for deferent models instead of exposing all services  we are using wrapper service for these services.
the wrapper service(https://service-xyz-abc.azurewebsites.net) which will redirect to intended endpoints based on the route.

when we used respec

[2020-10-12 09:02] Shyam268 commented on #76
this example works fine same as forgot password workflow. this is the only way to change password ? or is there any way to change password from old password?
example: A Separate page where user enters old password , new password and confirm password? like this..

[2020-10-14 07:27] Shyam268 opened #78 "Logout is not working properly"
Packages Used:
   "msal": "^1.3.4",
    "@azure/msal-angular": "^1.0.0",
issue:
User cannot logout it struct at logout session page:
![image](https://user-images.githubusercontent.com/30112490/95956763-63baed00-0e1c-11eb-968b-8ec610106243.png)

Code to reproduce:
appsetting.json

[code]
msalConfig.ts
[code]
logoutComponet.ts
  logout() {
    this.authService.logout();
  }

app registration setting

[2020-10-14 12:06] Shyam268 commented on #78
if i change the authority " "authority": "https://login.microsoftonline.com/common/", logout works. i am notable to call the web apis. throws **"Token renewal operation failed due to timeout"**

[2020-10-14 18:04] derisen commented on #76
@Shyam268 thank you for your patience. To do this, you'll have to use a [custom policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started). For instance, [this policy sample](https://github.com/azure-ad-b2c/samples/tree/master/policies/password-reset-not-last-password) can help with your needs. If you need further guidance, post an issue in the [main b2c-samples

[2020-10-14 18:19] derisen commented on #77
[Duplicate](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2423). Closing.

[2020-10-14 18:19] #77 closed

[2020-10-17 21:57] Wenish commented on #75
@derisen would it be possible to update it with an example which uses cypress?

[2020-10-20 15:21] derisen commented on #75
@Wenish we can certainly put this in the backlog, but I'm not able to give an ETA for the moment. If your testing need is urgent I'm afraid the links I gave above are the only alternative.

[2020-10-21 16:50] derisen commented on #76
Closing due to inactivity. Let us know if you need further help.

[2020-10-21 16:50] #76 closed

[2020-11-05 03:56] Nathan-Devery opened #79 "Redirect callback needs to updateUI()"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
On line 67 (after 'console.log("Token type is: " + response.tokenType);'), updateUI() needs to be added so the UI updates - showing the buttons for the subsequent calls.

## Error Message

## Security

- [ ] Is this issue security re

[2020-11-05 20:05] derisen commented on #79
@Nathan-Devery thanks a lot catching this! If you like, feel free to make a PR for it and add me as a reviewer.

[2020-11-11 17:35] derisen commented on #75
@Wenish we discussed providing guidance for automated testing for MSAL.js, however this is planned for after new year. Closing this as no further action to take at the moment.

[2020-11-11 17:35] #75 closed

[2020-11-20 20:08] derisen commented on #79
On second thought, this seems intentional as if the token type cannot be determined, the ui shouldn't be updated. Closing.

[2020-11-20 20:08] #79 closed

[2021-01-13 03:51] JJHakiLe opened #82 "Attempting ssoSilent with specified redirectUri different from Web Server"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library

- msal@1.4.0

## Description

When running the sample with just the base configuration such as below:

Everything runs fine, and attempting to use ssoSilent with a a login hint of just an arbitrary string returns an

as Expected.

However, placing a redirectUri property inside t

[2021-01-13 17:29] jasonnutter commented on #82
@JJHakiLe This is expected behavior, as redirect URIs for silent request must be on the same domain as your application (MSAL will use the current page, by default). A redirect URI for a different domain can also be used for testing purposes with the redirect APIs (loginRedirect, acquireTokenRedirect).

[2021-01-13 17:51] JJHakiLe commented on #82
@jasonnutter Right, I understand. I was just wondering if that was expected behavior. thank you. So does that mean that silent requests can support different pages on the same domain? And that for a redirect URI on a different domain, a redirect API must be used? Thanks in advance.

[2021-01-13 20:45] jasonnutter commented on #82
@JJHakiLe Yes, MSAL.js supports setting the redirect URI on a per-request basis. This means you can use different redirect URIs for different token/login calls.

The redirect URI used for a given operation must be on the same domain as your application, otherwise the operation will not complete successfully (for silent, popup, and redirect requests). A redirect URI for a different domain (e.g. jwt

[2021-01-13 21:01] JJHakiLe commented on #82
I see, thank you very much for the information @jasonnutter . It has been very helpful to me :)

[2021-01-21 20:47] #82 closed

[2021-03-27 20:35] azuregurus commented on #49
I've built a B2C custom policy using the starter pack and the instructions for multi-tenant AAD support. The policy works fine when I use it in my SPA application. However, when I want to navigate to another application from the same tenant in the same tab I'm always redirected to the B2C login page (I use the _ssoSilent_ method to get the user session, and the the _loginRedirect_ method if the se

[2021-04-30 22:59] derisen commented on #40
Closing this as this sample is being archived. Please see the [new sample](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa) and/or raise any issues you have at [MSAL.js repo](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues).

[2021-04-30 22:59] #40 closed

[2021-04-30 22:59] derisen commented on #49
Closing this as this sample is being archived. Please see the [new sample](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa) and/or raise any issues you have at [MSAL.js repo](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues).

[2021-04-30 22:59] #49 closed